ion-menu-button, ion-title {
    color: white;
}

ion-card {
    border-radius: 30px 30px 30px 30px;
    max-width: 150px;
    max-height: 230px;
}

ion-card-subtitle {
    text-align: right;
    color: rgb(255, 119, 237);
}